<style>
input[type=text], select {
    width:100%;
    font-size:medium;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea, select {
    width: 100%;
    font-size:large;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    font-size:large;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}
</style>

<script>
  window.onload = function() {
    document.getElementById('comment-form-redirect').value = window.location.href;
  }
</script>


{% if page.comments %}
  <!-- show existing comments -->
  {% if site.data.comments[page.slug] %}
    {% assign comments = site.data.comments[page.slug] %}
    {% for comment in comments %}
      {% include single__comment.html comment=comment %}
    {% endfor %}
  {% endif %}

  <!-- the form to submit new comments -->
  <form id="comment-form" method="POST" action="https://api.staticman.net/v2/entry/yanwang10/yanwang10.github.io/master/comments">
    <input id="comment-form-redirect" name="options[redirect]" type="hidden" value="javascript:window.location.href=window.location.href">
    <input name="options[slug]" type="hidden" value="{{ page.slug }}">
    <br>

    <label for="comment-form-message">Comment <b style="color:#ff0000">*</b></label><br>
    <textarea type="input" id="comment-form-message" name="fields[message]" rows="5"></textarea>
    <br>
    
    <label for="comment-form-name">Name <b style="color:#ff0000">*</b></label><br>
    <input type="text" id="comment-form-name" name="fields[name]">
    <br>
    
    <label for="comment-form-email">E-mail <b style="color:#ff0000">*</b></label><br>
    <input type="text" id="comment-form-email" name="fields[email]">
    <br>
    <label for="comment-form-url">Url</label><br>
    <input type="text" id="comment-form-url" name="fields[url]">
    <br>
    <input type="submit">
  </form>
{% endif %}
